.MuiDataGrid-colCellTitle{
    color:  #687480;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.table-style{
    height: 1050px;
    width: 98%;
}

.clickable{
    cursor: pointer;
}