#treeview-container {
    position: relative;
    background-color: aquamarine;
}

.ant-select-selector {
    height: 48px;
    width: 510px;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
    border-color: black;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector:active
 {
    border-color: black;
}
