.col-date.MuiTableCell-root,
.col-time.MuiTableCell-root,
.col-description.MuiTableCell-root,
.job-log-status-fatal.MuiTableCell-root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.job-log-status-information.MuiTableCell-root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #76A9FF;
}

.job-log-status-warning.MuiTableCell-root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#FFCE31;
}

.job-log-status-error.MuiTableCell-root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#F26060;
}