
    #nextBtn{
        background-color: #4DD3EF;
        float: right;
        color: #FFFFFF;
        text-transform: none;
        margin-right: 6%;
        margin-bottom: 2%; 
        box-shadow: none;
        padding: 10px;
        border-color: #4DD3EF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }

    #nextBtn:hover{
            background-color: #3DB1C9;
            border-color: #3DB1C9;
            box-shadow: none;
    }

    #nextBtn:active{
        box-shadow: none;
        background-color: #3DB1C9;
        border-color: #3DB1C9;
    }
    
    #cancelBtn{
        background-color:#C4C4C4;
        float: right;
        color: #FFFFFF;
        text-transform: none;
        padding: 10px;
        margin-right: 4%;
        margin-bottom: 2%; 
        box-shadow: none;
        font-size: 12px;
        border-color:#C4C4C4;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    #cancelBtn:hover{
            background-color: lightgray;
            border-color: lightgrey;
            box-shadow: none;
    }

    #cancelBtn:active{
        box-shadow: none;
        background-color: lightgrey;
        border-color: lightgrey;
    }

    .recConfigPaper{
     min-height: 50vh;
     max-height: 50vh;
     min-width: 100vh;
     max-width: 100vh;
    }

    #recLabel{
        color:#252733;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        min-width: 100%;
        max-width: 100%;
    }

    #recLabel2{
        color:#868282;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        min-width: 90px;
        max-width: 90px;
    }

    #recLabel3{
        color:#868282;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 11px;
        min-width: 90px;
        max-width: 90px;
    }

    #recLabel4{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 8px;
    }

    .recBox{
        width: 500px !important;  
        height: 50px !important;
    }

    .recBoxDate{
        width: 400px !important;  
        height: 50px !important;
    }
    

    .dialogTitle > * {
        color: #252733 !important;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        font-size: 24px !important;
    }    

    .onelinerAlign{
        display: flex;
        align-items: center;
        vertical-align: top;
    }

    .onelinerAlign2{
        display: flex;
        vertical-align: top;
        align-content: left;
        align-items: left;
        align-self: left;
    }

    .timePickerContainer{
        display: flex;
        flex-wrap: "wrap";

    }

    .timePickerTextfield{
        margin-left: 4px;
        margin-right: 4px;
        width: 200px;
        font-size: 12px;
    }

    #timeLabel{
        margin-top: 12px;
        color:#868282;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        min-width: 90px;
        max-width: 90px;
    }




