#ulModal{
    display: flex;
    flex-direction: row;
}

#liModal{
    width: 200px;
    list-style-type: none;
    border: 1px solid gray;
    padding: 5px;
}

#aModal{
    text-decoration: none;
    color: darkgray;
}

#aModal:visited{
    color:darkblue;
}