

    #grid1{
    width: 79%;
    }


    .gridContainerStyle.MuiGrid-container{
        align-items: flex-end;
    }

    #title{
        margin-top: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #252733;
    }
    
    #subtitle{
        margin-top: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #868282;
        font-size: 13px;
    }

    #filterBtn{
        color: #252733;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-transform: none;
        margin-left: 0px;
        margin-right: 0px;
        width: 120px;
    }
    
    #recBtn{
        background-color: #4DD3EF;
        float: right;
        color: #FFFFFF;
        text-transform: none;
        margin-bottom: 15px;
        box-shadow: none;
        height: 47px;
        font-size: 12px;
        padding: 6px 12px;
        border: 6px solid;
        line-height: 1.5;
        border-color: #4DD3EF;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    #recBtn:hover{
            background-color: #3DB1C9;
            border-color: #3DB1C9;
            box-shadow: none;
    }

    #recBtn:active{
        box-shadow: none;
        background-color: #3DB1C9;
        border-color: #3DB1C9;
    }





  


    
