html {
        font-size: 14px;
}
nav {
        border-bottom: 1px;
        background-color: #c8c8c8;
        height: 35px;
}
.weather {
        float: right;
        position: relative;
}
.temperature_icon {
        float: right;
        height: 35px;
        width: 35px;
        margin-right: 5px;
        margin-left: 5px;
}
div.weather p {
        margin: 0px;
        font-size: 12px;
        margin-right: 20px;
}
button {
        margin: -5%;
}
button.btn.btn-sm.shadow-none.disabled {
        color: black;
}
.btn.disabled {
        font-weight: bold;
        opacity: inherit;
}
@media (min-width: 768px) {
        html {
                font-size: 16px;
        }
}
.box-shadow {
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
