#parameter-modal-container{
    display: grid;
  }

  #paramater-modal-content{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-shadow: none;
    color: black;
  }

  #sub-title {
    font-size: 25px;
    font-weight: normal;
  }