#confirmation-modal-container {
  overflow-y: scroll;
}

/* #parameter-modal-container{
  display: grid;
  overflow: scroll;
} */

#parameter-modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  color: black;
}

#sub-title {
  font-size: 25px;
  font-weight: normal;
}

#table-header-cell {
font-weight: bold;
}

#table-container {
  background-color: #f8f8ff;
  width: 95%;
  border-radius: 10px;
  max-height: 100%;
}

.MuiTable-root {
  border-radius: 15px;
  border: 10px;
}

.value .MuiInputBase-root {
  height: 50px;
  width: 185px;
  color: black;
}

#parameter-date-picker {
  width: 100px;
  height: 10px;
}

#parameter-name-table-cell {
  max-width: 300px;
}

#parameter-row {
  background-color: white;
  height: 100%;
}
