#parameter-modal-container{
    display: grid;
  }

#paramater-modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: none;
  color: black;
}

#sub-title {
  font-size: 25px;
  font-weight: normal;
}

.table-header-cell {
  align-items: right;
  background-color: teal;
}

#table-container {
  background-color: #f8f8ff;
  width: 95%;
  border-radius: 10px;
  max-height: 100%;
  overflow: auto;
}

.MuiTable-root {
  border-radius: 15px;
  border: 10px;
}

.value .MuiInputBase-root {
  height: 40px;
  width: 100px;
}

.value {
  width: 100px;
}
