    #title{
        margin-top: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #252733;
    }
    #subtitle{
        margin-top: 10px;
        /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #868282;
        font-size: 13px;
    }

    #filterBtn{
        color: #252733;
    }
    
    #recBtn{
        float: right;
        /* background-color: #4DD3EF ;
        color: white;
        font-size: 14px;
        /* padding: 10px 60px; */
        border-radius: 0px;
        border-color: #4DD3EF;
        /* margin: 10px 0px; */
        cursor: pointer;
        text-transform: none;
    }

    #table{
        margin-top: 50px;
    }
    
