#cancelButton{
    width: 100px;
    background-color:#FFFFFF;
    color: #C4C4C4;
    padding: 7px 25px 7px 25px;
    text-transform: none;
    margin: 5px 10px 5px 10px;
    box-shadow: none;
    font-size: 18px;
    border-color: #C4C4C4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#cancelButton:hover{
    background-color: #F7F7F5;
    box-shadow: none;
    transition: all 500ms;
    border-color: transparent;
    color: #C4C4C4;
}

#deleteButton {
    width: 100px;
    background-color:#FFFFFF;
    color: #FF0000;
    padding: 7px 25px 7px 25px;
    text-transform: none;
    margin: 5px 10px 5px 10px;
    box-shadow: none;
    font-size: 18px;
    border-color: #FF0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#deleteButton:hover {
    box-shadow: none;
    transition: all 500ms;
    color: white;
    background-color: #FF0000;
}

#buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.dialog.MuiDialog-paper{
    max-height: 300px;
    height: 250px;
    width: 700px;
    max-width: 700px;
    display: flex;
    justify-content: center;
}

#closeButton{
    position: absolute;
    right: 4px;
    top: 4px;
    color: grey;
}

#WarningRoundedIcon{
    color: #FF0000;
    font-size: xxx-large;
}

#warning{
    flex: 10%;
    padding-left: 30px;
    padding-top: 30px;
}

#warningMessage{
    flex: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#deleteWarning{
    display: flex;
    flex-direction: row;
}

