.app-context {
    display: flex;
    flex-direction: row;
}

.right-main-context {
    flex-direction: column;
    flex-grow: 1;
}

.route-context {
    margin-right: auto;
    margin-left: 20px;
    margin-top: 20px;
}