html {
    --drawer-width: 300px;
}

.app-context {
    display: flex;
    flex-direction: row;
}

.right-main-context {
    flex-grow: 1;
}

.route-context {
    margin-right: auto;
    margin-left: 35px;
    margin-top: 20px;
    transition: all 0.5s;
}

.route-context-drawer {
    width: calc(99% - var(--drawer-width)); 
    transition: all 0.5s; 
}
