.root.MuiDrawer-root {
    display: flex;
    background-color: "#212529";
}

.drawer {
    background-color: #212529;
    width: 18%;
    white-space: nowrap;
    flex-shrink: 0;
}

.username {
    color: #fff;
}

.outer {
    background-color: #212529;
}

.nested {
    padding-left: 8; 
    color: #fff;
    background-color: #212529;
}

.mainTitles {
    color: #fff;
    font-size: 100%;
}

.icon {
    color: #fff;
    font-size: 15;
}

.settings {
    color: "9E9E9E";
    margin-top: 5%;
    margin-left: 5%;
}

.inline {
    display: inline;
    color: #fff
}

.hide {
    display: none;
}

.drawer-paper.MuiDrawer-paper{
    width: 18%;
    background-color: #212529;
}