
.asset-tree-container {
    height: 264px;
    flex-grow: 1;
    width: 230px;
    max-width: 400px;
    
}
.asset-tree-item-root.MuiTreeItem-root {
    color: black;
    margin: 10px 0 5px 10px;
}

.asset-tree-item-group.MuiTreeItem-group {
    margin-left: 7px;
    padding-left: 10px;
    border-left: 1px dashed;
}

.asset-tree-item-label.MuiTreeItem-content {
    font-size: 10px!important;
}

.label-root {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label-icon {
    margin-right: 5px;
    height: 10px;
}

.label-text {
    font-weight: inherit; 
    flex-grow: 1;
    font-size: 12px !important;
}

.search-box-container {
    height: 30px
}

.autocomplete-style {
    width: 200px;
    height: 40px;
    margin: 0px 10px 25px 10px;
}
   
    
