
.table-style, .table-positive-numbers, .table-negative-numbers{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-positive-numbers{
    color: #49C71F;
}

.table-negative-numbers{
    color:#F26060;
}