
.table-style{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-positive-numbers{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #49C71F;
}

.table-negative-numbers{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#F26060;
}