.breadcrumb {
  padding: 0%;
  float: left;
  position: relative;
  top: 15%;
  left: 20px;
  background-color:#EDEDED;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}
.change_anchor {
  padding-left: 20px;
  text-decoration: underline !important;
  color: #888888 !important;
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}