.breadcrumb {
  padding: 0%;
  float: left;
  position: relative;
  top: 15%;
  left: 20px;
  background-color:#C8C8C8;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

.change-button-container.MuiButton-root {
  height: 20px;
  font-size: 11px;
  margin-left: 12px;
  text-decoration: underline;
  color: #888888;
  top: 2px; /*ayoye*/
}