.breadcrumb {
  padding: 0%;
  float: left;
  position: relative;
  top: 15%;
  left: 20px;
  background-color:#C8C8C8;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}
.change_anchor {
  padding-left: 20px;
  text-decoration: underline !important;
  color: #888888 !important;
  font-size: 13px;
}