/* Header font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&display=swap');

.drawer-pin {
  width: 20px;
  height: 20px;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
}

.drawer-icon-button {
  padding: 0% !important;
  float: right;
}

.drawer-tab {
  width: 70% !important;
}

.drawer-close {
  color: black;
  float: right;
  font-size: 15px !important;
}

.drawer-pinned-icon {
  color: darkblue;
  font-size: 14px !important;
  transform: rotate(0deg);
  transition: all 0.5s;
}
.drawer-unpinned-icon {
  color: black;
  font-size: 14px !important;
  transform: rotate(90deg);
  transition: all 0.5s;
}

.drawer-header-container {
  display: grid;
  grid-template-columns: 2.2fr 1fr 0.7fr;
  align-content: center;
  height: 55px;
  font-size: 14px;
  font-family: 'Mulish', sans-serif;
  padding-left: 5px;
  color: black;
}

.drawer-container.MuiDrawer-paper {
  background-color: white;
  width: 20%;
}

.header-space {
  height: 35px;
  width: 100%;
}


/*All of the followings are concerning the react-tabs styling*/

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
  display: flex;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  flex-grow: 1;
  background: rgb(225, 227, 228);
  font-size: medium;
  font-family: 'Mulish', sans-serif;
  color: black;
  font-weight: bold;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: rgb(100, 97, 97);
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}