

#widget-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

#net-savings-widget {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 110px;
    width: 225px;
    border-radius: 5px;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    background-color:#fff;
    border: solid 2px rgb(5, 133, 90);
    color: rgb(49, 146, 114);
}

#tooltip-container {
    display: flex;
    cursor:help;
    justify-content: flex-end;
}

#roi-widget {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 110px;
    width: 225px;
    border-radius: 5px;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    color:rgb(31, 88, 69);
    background-color: #fff;
    border-radius: 5px;
    border: solid 2px rgb(8, 78, 55);
}

#inaction-widget {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 110px;
    width: 225px;
    border-radius: 5px;
    margin-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    color:rgb(179, 94, 88);
    background-color: #fff;
    border: solid 2px rgb(177, 74, 66);
}

#title-container {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
}

#sign {
    font-weight: bold;
    font-size: xx-large;
    margin-right: 8%;
}

#money-value {
    font-size: x-large;
}

#widget-contents {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


