.custom{
    align-self: left;
    align-content: left;
    align-items: left;
}

#table-header{
    background-color: #FFFFFF;
    color:  #687480;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 1px,
}

.custom-status-header.MuiTableCell-root {
    text-align: center;
}
