.tool-bar-title, #control-label, #table-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#paper{
    width: 100%;
    margin-bottom: 8px;
}

.tool-bar-title {
    flex: 1 1 100%;
    margin-left: 10px;
    color: #000;
    font-size: 16px;
}

.MuiTableRow-root.Mui-selected, .MuiTableRow-root.Mui-selected:hover {
    background-color: rgba(0, 0, 0, 0.04) !important;
}

#control-label {
    color: #212529;

    text-transform: none;
    margin-top: 5px;
    font-size: 12px;
    width: 20px;
}

#table-body{
    color: #212529;
    font-size: 12px;
    min-width: 15%;
}

#clickable{
    cursor: pointer;
}

.center{
    align-self: center;
    align-items: center;
    align-content: center;
    column-span: 6;
}