.notification {
        background-color: #c8c8c8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
.notification_bell {
        float: right;
        background-color: #c8c8c8;
}
.notification.notify {
        padding: 0%;
}
.notification.notify svg {
        fill: #212529;
}
.notification::after {
        background-color: #4dd3ef;
}
